.toggle-password {
  position: relative;
}

.toggle-password .form-control {
  padding-right: calc(24px + 8px + 8px);
}

.toggle-password-button {
  background-color: transparent;
  bottom: 7px;
  height: 24px;
  border: 0;
  line-height: 0;
  padding: 0;
  position: absolute;
  right: 8px;
  width: 24px;
}

.toggle-password-button img {
  height: 100%;
  left: 0;
  object-fit: contain;
  object-position: center;
  position: absolute;
  top: 0;
  transition: opacity .3s ease;
  width: 100%;
  will-change: opacity;
}

.toggle-password-button.show-val .icon-hide {opacity: 0;}
.toggle-password-button.hide-val .icon-show {opacity: 0;}