.toggle-password {
    position: relative;
}

.toggle-password .form-control {
    padding-right: calc(24px + 8px + 8px);
}

.toggle-password-button {
    position: relative;
    float: right;
    bottom: 32px;
    right: 24px;
    background-color: transparent;
    border: 0;
}

.toggle-password-button img {
    height: 24px;
    width: 24px;
    transition: opacity .3s ease;
    will-change: opacity;
    position: absolute;
}

.toggle-password-button.show-val .icon-hide {
    opacity: 0;
}

.toggle-password-button.hide-val .icon-show {
    opacity: 0;
}